@model IEnumerable<Member>
@{ 
    ViewData["Title"] = "Members";
}
    <table>
        @foreach (var item in Model)
        {
        <tr>
            <td>id = @item.MemberID</td>
            <td>first = @item.FirstName</td>
            <td>last = @item.LastName</td>
            <td>title = @item.Title</td>
            <td><a asp-action="Edit" asp-route-id="@item.MemberID">Edit</a></td>
        </tr>
        }
    </table>
<a asp-action="Edit" asp-route-id="0">Add New</a>
@section footer{
<p>here's the footer</p>
}
